In [23]:
# import dependencies
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
# movie data query from omdbapi.com

query_url = "http://www.omdbapi.com/?apikey=cf77db42&t="
print(query_url)

http://www.omdbapi.com/?apikey=cf77db42&t=

In [25]:
movie_df = pd.read_csv('./Datasets/superhero_movies_data.csv')
movie_df.head()

   Date_Released Publisher       Superhero_Name               Movie_Title
0           2008        DC               Batman           The Dark Knight
1           2008        DC             Punisher        Punisher: War Zone
2           2008    Marvel             Iron Man                  Iron Man
3           2008    Marvel  The Incredible Hulk       The Incredible Hulk
4           2009    Marvel            Wolverine  X-Men Origins: Wolverine

In [26]:
# selected movies
# movies = ['Ant-Man',
#           'Ant-Man and the Wasp',
#           'Aquaman',
#           'The Dark Knight',
#           'The Dark Knight Rises',
#           'Black Panther',
#           'Captain America: The First Avenger',
#           'Captain America: The Winter Soldier',
#           'Captain Marvel',
#           'Deadpool',
#           'Deadpool 2',
#           'Doctor Strange',
#           'Spirit of Vengeance',
#           'Green Lantern',
#           'Iron Man',
#           'Iron Man 2',
#           'Iron Man 3',
#           'Punisher: War Zone',
#           'Spider-Man: Homecoming',
#           'The Amazing Spider-Man',
#           'The Amazing Spider-Man 2',
#           'Man of Steel',
#           'The Incredible Hulk',
#           'Thor',
#           'Thor: Ragnarok',
#           'Thor: The Dark World',
#           'Venom',
#           'Logan',
#           'The Wolverine',
#           'X-Men Origins: Wolverine',
#           'Wonder Woman',
# ]

# variables
year = []
title = []
ratings = []
imdbVotes = []
response = []
sales = []

movie_data_accumulated = []

# loop through database
for movie in movie_df['Movie_Title']:
             
    response = requests.get(query_url + movie).json()
    year = response['Year']
    title = response['Title']
    ratings = response['Ratings'][0]['Value']
    imdbVotes = response['imdbVotes']
    sales = response['BoxOffice']
    
    #print(year, title, ratings)
    movie_data = [year, title, ratings, imdbVotes, sales]
    #print(movie_data)
    movie_data_accumulated.append(movie_data)

# create dataframe

movie_data_df = pd.DataFrame(movie_data_accumulated, columns=('Date_Released', 
                                                              'Movie_Title',
                                                              'Internet_Movie_Database_Rating',
                                                              'IMDB_Votes', 
                                                              'Box_Office_Sales'))
movie_data_df

,Date_Released,Movie_Title,Internet_Movie_Database_Rating,IMDB_Votes,Box_Office_Sales
0,2008,The Dark Knight,9.0/10,"2,029,721","$533,316,061"
1,2008,Punisher: War Zone,6.0/10,"56,730","$7,948,159"
2,2008,Iron Man,7.9/10,"842,429","$318,298,180"
3,2008,The Incredible Hulk,6.8/10,"388,957","$134,518,390"
4,2009,X-Men Origins: Wolverine,6.6/10,"429,641","$179,737,340"
5,2010,Iron Man 2,7.0/10,"642,092","$312,057,433"
6,2011,Ghost Rider: Spirit of Vengeance,4.3/10,"102,335","$51,774,002"
7,2011,Green Lantern,5.5/10,"250,387","$116,600,000"
8,2011,Thor,7.0/10,"661,810","$181,015,141"
9,2011,Captain America: The First Avenger,6.9/10,"641,472","$176,636,816"
10,2012,The Dark Knight Rises,8.4/10,"1,366,558","$448,130,642"
11,2012,The Amazing Spider-Man,7.0/10,"520,000","$262,030,663"
12,2013,Iron Man 3,7.2/10,"672,550","$408,992,272"
13,2013,Thor: The Dark World,7.0/10,"526,911","$206,360,018"
14,2013,The Wolverine,6.7/10,"395,575","$132,550,960"
15,2013,Man of Steel,7.1/10,"639,837","$291,021,565"
16,2014,The Amazing Spider-Man 2,6.6/10,"382,051","$183,277,573"
17,2014,Captain America: The Winter Soldier,7.8/10,"646,011","$228,636,083"
18,2015,Ant-Man,7.3/10,"482,910","$138,002,223"
19,2016,Deadpool,8.0/10,"802,733","$328,674,489"
20,2016,Doctor Strange,7.5/10,"485,846","$232,630,718"
21,2017,Logan,8.1/10,"545,270","$226,276,809"
22,2017,Spider-Man: Homecoming,7.5/10,"398,278","$334,166,825"
23,2017,Wonder Woman,7.5/10,"472,212","$412,400,625"
24,2017,Thor: Ragnarok,7.9/10,"439,344","$314,971,245"
25,2018,Black Panther,7.3/10,"486,841","$501,105,037"
26,2018,Ant-Man and the Wasp,7.1/10,"204,018",N/A
27,2018,Aquaman,7.2/10,"208,461",N/A
28,2018,Deadpool 2,7.8/10,"359,880",N/A
29,2018,Venom,6.8/10,"245,745",N/A
30,2019,Captain Marvel,6.9/10,"80,858",N/A

In [27]:
# save file
movie_data_df.to_csv('./Datasets/movie_imdb_ratings_CC.csv')

In [28]:
# query_url = "http://www.omdbapi.com/?apikey=cf77db42&t=Venom"
# print(query_url)