In [1]:
# import dependencies
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# movie data query from omdbapi.com

query_url = "http://www.omdbapi.com/?apikey=cf77db42&t="
print(query_url)

http://www.omdbapi.com/?apikey=cf77db42&t=

In [3]:
movie_df = pd.read_csv('./Datasets/Production_data/Movie_List.csv')
movie_df.head()

   Date_Released Publisher Superhero_Name               Movie_Title
0           2008        DC         Batman           The Dark Knight
1           2008        DC       Punisher        Punisher: War Zone
2           2008    Marvel       Iron Man                  Iron Man
3           2008    Marvel           Hulk       The Incredible Hulk
4           2009    Marvel      Wolverine  X-Men Origins: Wolverine

In [4]:
# variables
year = []
#title = []
ratings = []
imdbVotes = []
response = []
sales = []

title = movie_df['Movie_Title']
movie_data_accumulated = []

# loop through database
for movie in movie_df['Movie_Title']:
             
    response = requests.get(query_url + movie).json()
    year = response['Year']
    #title = response['Title']
    ratings = response['Ratings'][0]['Value']
    imdbVotes = response['imdbVotes']
    sales = response['BoxOffice']
    
    #print(year, title, ratings)
    movie_data = [year, ratings, imdbVotes, sales]
    #print(movie_data)
    movie_data_accumulated.append(movie_data)

# create dataframe
movie_data_df = pd.DataFrame(movie_data_accumulated, columns=('Date_Released', 
                                                              'Internet_Movie_Database_Rating',
                                                              'IMDB_Votes', 
                                                              'Box_Office_Sales'))
movie_data_df['Movie_Title'] = title
movie_data_df

,Date_Released,Internet_Movie_Database_Rating,IMDB_Votes,Box_Office_Sales,Movie_Title
0,2008,9.0/10,"2,029,721","$533,316,061",The Dark Knight
1,2008,6.0/10,"56,730","$7,948,159",Punisher: War Zone
2,2008,7.9/10,"842,429","$318,298,180",Iron Man
3,2008,6.8/10,"388,957","$134,518,390",The Incredible Hulk
4,2009,6.6/10,"431,892","$179,737,340",X-Men Origins: Wolverine
5,2010,7.0/10,"642,092","$312,057,433",Iron Man 2
6,2011,4.3/10,"102,335","$51,774,002",Spirit of Vengeance
7,2011,5.5/10,"250,387","$116,600,000",Green Lantern
8,2011,7.0/10,"661,810","$181,015,141",Thor
9,2011,6.9/10,"641,472","$176,636,816",Captain America: The First Avenger
10,2012,8.4/10,"1,366,558","$448,130,642",The Dark Knight Rises
11,2012,7.0/10,"520,000","$262,030,663",The Amazing Spider-Man
12,2013,7.2/10,"672,550","$408,992,272",Iron Man 3
13,2013,7.0/10,"526,911","$206,360,018",Thor: The Dark World
14,2013,6.7/10,"395,575","$132,550,960",The Wolverine
15,2013,7.1/10,"639,837","$291,021,565",Man of Steel
16,2014,6.6/10,"383,964","$183,277,573",The Amazing Spider-Man 2
17,2014,7.8/10,"646,011","$228,636,083",Captain America: The Winter Soldier
18,2015,7.3/10,"482,910","$138,002,223",Ant-Man
19,2016,8.0/10,"802,733","$328,674,489",Deadpool
20,2016,7.5/10,"485,846","$232,630,718",Doctor Strange
21,2017,8.1/10,"545,270","$226,276,809",Logan
22,2017,7.5/10,"398,278","$334,166,825",Spider-Man: Homecoming
23,2017,7.5/10,"472,212","$412,400,625",Wonder Woman
24,2017,7.9/10,"439,344","$314,971,245",Thor: Ragnarok
25,2018,7.3/10,"486,841","$501,105,037",Black Panther
26,2018,7.1/10,"204,018",N/A,Ant-Man and the Wasp
27,2018,7.2/10,"208,461",N/A,Aquaman
28,2018,7.8/10,"359,880",N/A,Deadpool 2
29,2018,6.8/10,"245,745",N/A,Venom
30,2019,6.9/10,"80,858",N/A,Captain Marvel

In [5]:
#Manually add some number that weren't available in API pull
#movie_data_df.set_value['26','Box_Office_Sales', '$216,648,740']
movie_data_df.iloc[[26],[3]] = '$216,648,740'
movie_data_df.iloc[[27],[3]] = '$335,061,807'
movie_data_df.iloc[[28],[3]] = '$324,591,735'
movie_data_df.iloc[[29],[3]] = '$213,515,506'
movie_data_df.iloc[[30],[3]] = '$373,880,366'
movie_data_df

,Date_Released,Internet_Movie_Database_Rating,IMDB_Votes,Box_Office_Sales,Movie_Title
0,2008,9.0/10,"2,029,721","$533,316,061",The Dark Knight
1,2008,6.0/10,"56,730","$7,948,159",Punisher: War Zone
2,2008,7.9/10,"842,429","$318,298,180",Iron Man
3,2008,6.8/10,"388,957","$134,518,390",The Incredible Hulk
4,2009,6.6/10,"431,892","$179,737,340",X-Men Origins: Wolverine
5,2010,7.0/10,"642,092","$312,057,433",Iron Man 2
6,2011,4.3/10,"102,335","$51,774,002",Spirit of Vengeance
7,2011,5.5/10,"250,387","$116,600,000",Green Lantern
8,2011,7.0/10,"661,810","$181,015,141",Thor
9,2011,6.9/10,"641,472","$176,636,816",Captain America: The First Avenger
10,2012,8.4/10,"1,366,558","$448,130,642",The Dark Knight Rises
11,2012,7.0/10,"520,000","$262,030,663",The Amazing Spider-Man
12,2013,7.2/10,"672,550","$408,992,272",Iron Man 3
13,2013,7.0/10,"526,911","$206,360,018",Thor: The Dark World
14,2013,6.7/10,"395,575","$132,550,960",The Wolverine
15,2013,7.1/10,"639,837","$291,021,565",Man of Steel
16,2014,6.6/10,"383,964","$183,277,573",The Amazing Spider-Man 2
17,2014,7.8/10,"646,011","$228,636,083",Captain America: The Winter Soldier
18,2015,7.3/10,"482,910","$138,002,223",Ant-Man
19,2016,8.0/10,"802,733","$328,674,489",Deadpool
20,2016,7.5/10,"485,846","$232,630,718",Doctor Strange
21,2017,8.1/10,"545,270","$226,276,809",Logan
22,2017,7.5/10,"398,278","$334,166,825",Spider-Man: Homecoming
23,2017,7.5/10,"472,212","$412,400,625",Wonder Woman
24,2017,7.9/10,"439,344","$314,971,245",Thor: Ragnarok
25,2018,7.3/10,"486,841","$501,105,037",Black Panther
26,2018,7.1/10,"204,018","$216,648,740",Ant-Man and the Wasp
27,2018,7.2/10,"208,461","$335,061,807",Aquaman
28,2018,7.8/10,"359,880","$324,591,735",Deadpool 2
29,2018,6.8/10,"245,745","$213,515,506",Venom
30,2019,6.9/10,"80,858","$373,880,366",Captain Marvel

In [6]:
# save file
movie_data_df.to_csv('./Datasets/Production_data/Movie_Stats.csv')

In [7]:
# query_url = "http://www.omdbapi.com/?apikey=cf77db42&t=Venom"
# print(query_url)